<VirtualHost *:81>
    ServerAdmin webmaster@szkolenie.pl
    ServerName www.szkolenie.pl
    ServerAlias szkolenie.pl
    ErrorLog /var/www/szkolenie/logs/error.log
    CustomLog /var/www/szkolenie/logs/access.log combined

    WSGIDaemonProcess naszaaplikacja user=www-data group=www-data threads=5
    WSGIProcessGroup naszaaplikacja
    WSGIScriptAlias / /var/www/szkolenie/aplikacja/naszaaplikacja.wsgi
    Alias /static/ /var/www/szkolenie/aplikacja/static
    <Directory /var/www/szkolenie/aplikacja/static>
        Options FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

</VirtualHost>
